@font-face {
    font-family: "Century Gothic";
    src: url(centurygothic.ttf);
}

body {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    background: black;
  }
  
header {
    background: black;
}

table {
    border-collapse: collapse;
    border: 3px solid red;
    margin: 10px;
}

th, td {
    padding: 5px;
}

tbody td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #ff5171;
}

tbody tr:nth-child(even) {
    background-color: #f28c9f;
}

th {
    background-color: #eb3355;
}

.navbar-brand {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(120, 2, 2), 0 0 0.2em rgb(120, 2, 2);
}

h1, h2, img, p, figure, iframe, dl, dt, dd {
    margin: 0.4em;
}

table caption, figure {
    font-style: italic;
    font-size: 0.9em;
   }

.centpic {
display: block;
margin: 0 auto;
}

.center {
    text-align: center;
}

h1 {
    color: #CD5C5C;
    text-transform: uppercase;
}

p {
    letter-spacing: 0.1rem;
}

*:not(h1) {
    color: #F08080;
}

.saison1 li {
    background-image: url("../images/will.png");
    background-repeat: no-repeat;
    padding-left: 2rem;
    background-size: 1.2em;
    list-style-type: none;
}

.saison2 li {
    background-image: url("../images/dustin.png");
    background-repeat: no-repeat;
    padding-left: 2rem;
    background-size: 1.2em;
    list-style-type: none;
}

.saison3 li {
    background-image: url("../images/mike.png");
    background-repeat: no-repeat;
    padding-left: 2rem;
    background-size: 1.2em;
    list-style-type: none;
}

.saison4 li {
    background-image: url("../images/lucas.png");
    background-repeat: no-repeat;
    padding-left: 2rem;
    background-size: 1.2em;
    list-style-type: none;
}

h1, h2, h3 {
    background: linear-gradient(to right, #430000 20%, black 80%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 20px;
    border-radius:15px;
    border: solid;
    border-color:  #430000;
}